
/*Configuração Geral*/
body,*{box-sizing: border-box;margin: 0px; padding: 0px; }
body{font-family: Arial, Helvetica, sans-serif;height: 100vh;background:url('bg.jpg')no-repeat center; background-attachment: fixed;}
ul{list-style: none; padding: 0;}
.container{width: 100%; max-width: 1000px;margin: auto;padding:20px 10px;
     background-color: #fffd;box-shadow: 0 0 6px #0003;}
h1{text-align: center;margin:0 0 20px;}

/*Logo*/
.logo{width: 100%;display: flex;flex-direction: column;align-items: center;}
.logo img{width: 300px;height: auto;}

/*Card Template*/
.card{width: 100%;padding: 10px 20px 20px;border-bottom: 1px solid rgb(172, 172, 172);}
.card .card-header{display: flex;justify-content: space-between;padding: 10px;margin-bottom: 20px;}
.card .card-header h2{font-size: 2rem;margin:0;line-height: 1.5rem;}
.card .card-header h2 small{font-size: 1.5rem;font-weight: 200;color: rgb(138, 138, 138);}
.card .card-header h3 {margin:0;line-height: 1.5rem;}
.card .card-body ul{display: flex;justify-content: space-around;flex-wrap: wrap;}
.card .card-body li{display: block; flex: 1;min-width: 400px;padding: 5px 20px; font-size: 1.5rem;}
.card .card-footer ul {display:flex;justify-content: center;margin-top: 20px;}

/*Botões*/
.btn{padding: 10px;border-radius: 4px;border: none;color: white;font-weight: 500;font-size:1.2rem;cursor: pointer;}

/*Botão de Sessão*/
.btn-session{margin:10px;background-color: rgb(138, 136, 136);color:rgb(161, 161, 161);box-shadow: 1px 1px 2px rgba(61, 61, 61, 0.6);cursor: not-allowed;}

/*Botão Mais*/
.btn-more{box-shadow: 1px 1px 2px #0409;background-color: green;display: block;width: 100%;}
.btn-more:hover{background-color: rgb(14, 99, 14);}